
  <h2>
    Categories
  </h2>

  <ul>
    <% @groups.each do |group| %>

    <%= link_to group_path(group) do %>
        <li class="hoverable">    
          <%= image_tag image_path("icons/#{group.icon}") %>
          <p><%= group.name %><p>  
          <h3>$
            <% total = 0 %>
            <% @entities.each do |entity| %>
              <% if entity.group_id == group.id %>
                <% total += entity.amount %>
              <% end %>
            <% end %>
            <%= total %>
          </h3>
        </li>
      <% end %>

    <% end %>
  </ul>
  <div class="new">
    <%= link_to "New", new_group_path, class: "hoverable" %>
  </div>

  <%= form_tag(logout_path, method: :delete, class: "logout") do %>
    <%= submit_tag "Logout" %>
  <% end %>
  <%= stylesheet_link_tag 'group' %>