<h1> Transactions </h1>
  

<%= link_to '◀️ ', groups_path(current_user) %>
  
  
  <div>
    <p><%= @group.name %><p>
    <p>$<%= @sum_total %></p>
  </div> 


  
  <ul class="pb-24">
    <% @entities.each do |entity|%>
      <%= link_to group_entity_path(@group, entity) do %>
        <li>
        
            <p><%= entity.name.capitalize %></p>    
          <p>$<%= entity.amount %></p>  
        </li>
      <% end %>
    <% end %>
  </ul>

  <div>
    <%= link_to 'New transaction', new_group_entity_path(@group, current_user) %>
  </div>
